.App {
  width: 100vw;
  height: 100vh;
  text-align: center;
  background: rgb(209, 136, 136);
    background: -moz-linear-gradient(45deg, rgb(209, 136, 136) 0%, rgb(156, 1, 1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgb(209, 136, 136)), color-stop(100%, rgb(156, 1, 1)));
    background: -webkit-linear-gradient(45deg, rgb(209, 136, 136) 0%, rgb(156, 1, 1) 100%);
    background: -o-linear-gradient(45deg, rgb(209, 136, 136) 0%, rgb(156, 1, 1) 100%);
    background: -ms-linear-gradient(45deg, rgb(209, 136, 136) 0%, rgb(156, 1, 1) 100%);
    background: linear-gradient(45deg, rgb(209, 136, 136) 0%, rgb(156, 1, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgb(209, 136, 136)', endColorstr='rgb(156, 1, 1)', GradientType=1 );
  
}

.App-wrapper {
  height: 100vh;
}
